[program:{{ project }}.{{ safe_branch }}]
command=uwsgi -x {{ uwsgi_source_confpath }}
user={{ site_user }}
environment=DJANGO_SETTINGS_MODULE="{{ django_settings }}"
stdout_logfile={{ deploy_dir }}/logs/uwsgi.log
stderr_logfile={{ deploy_dir }}/logs/uwsgi_err.log
directory={{ source_dir }}
autostart=true
autorestart=true
redirect_stderr=true
stopsignal=QUIT
