[program:{{ project }}.{{ safe_branch }}-{{ int( port ) + 1 }}]
command={{ deploy_dir }}/.virtualenv/bin/python {{ source_dir }}/app.py --port={{ int( port ) + 1 }}
user={{ site_user }}
stdout_logfile={{ deploy_dir }}/logs/tornado.log
stderr_logfile={{ deploy_dir }}/logs/tornado.log
directory={{ source_dir }}
autostart=true
autorestart=true
redirect_stderr=true
stopsignal=QUIT

[program:{{ project }}.{{ safe_branch }}-{{ int( port ) + 2 }}]
command={{ deploy_dir }}/.virtualenv/bin/python {{ source_dir }}/app.py --port={{ int( port ) + 2 }}
user={{ site_user }}
stdout_logfile={{ deploy_dir }}/logs/tornado.log
stderr_logfile={{ deploy_dir }}/logs/tornado.log
directory={{ source_dir }}
autostart=true
autorestart=true
redirect_stderr=true
stopsignal=QUIT
