#!/bin/bash

. $(dirname $0)/utils.sh

# Variables
DBUSER={{ dbuser }}
DBPASSWORD={{ dbpassword }}
DBNAME={{ dbname }}

HOST={{ mysqlhost }}
PORT={{ mysqlport }}
CLIENT="mysql"
USER={{ mysqluser }}
PASSWORD={{ mysqlpassword }}

if [ -z "$USER" ] || [ -z $HOST ] || [ -z $PASSWORD ]; then
    # pass
    echo "MySql some data not defined."
    exit 0
fi

SQL_CREATE_DB="CREATE DATABASE IF NOT EXISTS $DBNAME;"
SQL_CREATE_USER="CREATE USER '$DBUSER@localhost' IDENTIFIED BY '$DBPASSWORD';"
SQL_GRANT_ALL="GRANT ALL ON $DBNAME.* TO '$DBUSER';"
SQL_FLUSH="FLUSH PRIVILEGES;"

$CLIENT -u$USER -p$PASSWORD -e "${SQL_CREATE_DB}${SQL_CREATE_USER}${SQL_GRANT_ALL}${SQL_FLUSH}"
