.sites {
    padding: 0 1.5em;
}

    .sites p {
        margin-bottom: 1em;
    }

    .sites_content {
        background: #efefef;
        border: 1px dotted #999;
        padding: .5em 1.5em;
    }

    .sites_title {
        color: #125;
        font-size: 1.5em;
    }

    .sites_item {
        margin-bottom: .5em;
    }

        .sites_item_link {
            font-size: 1.5em;
        }

        .sites_item_revision {
            color: #333;
            margin-left: 1em;
        }

        .sites_item_info {
            text-decoration:none;
            color: #ccc;
            border-bottom: 1px dashed #ccc;
        }

        .sites_item_options {
            display: none;
        }
