#!/bin/bash

. $(dirname $0)/utils.sh

VIRTUALENVDIR={{ virtualenvdir }}
PIP_PROJECTFILE={{ pip_projectfile }}
PIP_OPTIONS="{{ pip_options }}"
PIP=$VIRTUALENVDIR/bin/pip
EASY_INSTALL=$VIRTUALENVDIR/bin/easy_install

# Change rights
sudo chown -R $USER:$USER $DEPLOY_DIR

echo "Create virtualenv: $VIRTUALENVDIR"
cmd_or_die "virtualenv --no-site-packages $VIRTUALENVDIR"

if [ -f $PIP_PROJECTFILE ]; then
    echo "Install pip"
    $EASY_INSTALL -U pip

    echo "Update virtualenv requirements '$PIP_PROJECTFILE'."

    $PIP install $PIP_OPTIONS -r $PIP_PROJECTFILE 
    cmd_or_die "rm -rf $VIRTUALENVDIR/.reqsum"
    sh -c "md5sum $PIP_PROJECTFILE > $VIRTUALENVDIR/.reqsum"
else
    echo "Not found pip requirements file: $PIP_PROJECTFILE"
fi

# Restore rights
sudo chown -R $SITE_USER:$SITE_GROUP $DEPLOY_DIR
