#!/bin/bash

. $(dirname $0)/utils.sh

# Variables
VIRTUALENVDIR={{ virtualenvdir  }}
PIP_PROJECTFILE={{ pip_projectfile }}
PIP_OPTIONS="{{ pip_options }}"
PIP=$VIRTUALENVDIR/bin/pip

cmd_or_die "sudo chown -R $USER:$USER $VIRTUALENVDIR"
sudo rm -rf /tmp/.pip

if [ -f $PIP_PROJECTFILE ]; then

    echo "Update virtualenv requirements: $PIP_PROJECTFILE"
    $PIP install -r $PIP_PROJECTFILE $PIP_OPTIONS

fi

# Restore rights
cmd_or_die "sudo chown -R $SITE_USER:$SITE_GROUP $VIRTUALENVDIR"
