#!/bin/bash

source $(dirname $0)/utils.sh | exit 1

MEMCACHED_HOST={{ memcached_host }}

# Check memcached on localhost
if [[ "$MEMCACHED_HOST" == "localhost" || "$MEMCACHED_HOST" == "127.0.0.1" ]]; then
    check_program memcached "Install memcached package"
fi

# Check netcat
check_program netcat "Install netcat package"
